@tailwind base;
@tailwind components;
@tailwind utilities;
/* hero scrollbar heseg */
html,
body,
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .5s;
}

:root{
  --primaryColor:"#0aa1ff";
  --primaryTextColor:"#e6e6e6";

  --headlineBig:clamp(5rem,9.9vw,15rem);
  --headlineMedium: clamp(1rem,2vw,4rem);
  --headlineSmall: clamp(0.6rem,0.75vw,1.3rem);
  --spacing: clamp(0.9rem,0.75vw, 1.3rem);
}

.hero__header{
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero__header h1{
 font-size: var(--headlineBig);
 color: var(--primaryTextColor);
}

.hero__header h2{
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}
.scroll-section-outer{
  overflow: hidden;
}

.scroll-section-inner{
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-section h3{
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}
/* seach inputiin icon */
.pointer-events-none{
  padding: 10px;
  cursor: pointer;
}
/* framer style */
body {
  --black: #000000;
  --ash-black: #222;
  --white: #000000;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #ffffff;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--red);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}

/* * {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}

h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}

p {
  margin: 0 0 30px 0;
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}

footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
  opacity: 0.2;
}

footer svg {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: var(--accent);
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
} */

/* ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  /* margin: 100px 0; */
/* }

h2 {
  margin: 0;
  color: var(--accent);
  left: calc(50% + 130px);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
} */  